{% assign toolsData = "" | split: "," %}
{% for tool in include.data %}
    {% assign toolsData = toolsData | push: tool[1] %}
{% endfor %}

{% assign toolsDataSorted = toolsData | sort_natural: include.sort_key %}
{% for tool in toolsDataSorted %}
{% capture tool_title %}<a href="{{ tool.location }}" target="_blank"><h3>{{ tool.title }}</h3>
{% include_cached icon.html name="external-link" aria-label="Open tool in new window" %}</a> 
<div class="subheader">
<p class="leftColHeader">by {{ tool.creator }}</p>
<p class="rightColHeader">Last updated: {{ tool.update | join: "" | date: "%b %Y" }}</p>
</div>
{% endcapture %}

{% capture tool_section_identifier %}aside_{{ tool.title }}{% endcapture %}
{% capture tool_details_id %}{{tool.title | slugify: "raw" }}{% endcapture %}

{% include box.html type="start" title=tool_title id=tool_details_id %}
<div class="leftCol">
	<h4>Description</h4>
	<ul>
	{% for desc in tool.description %}
  		<li>{{ desc }}</li>
	{% endfor %}
	</ul>
	
	{% if tool.guideline | size > 0 %}<h4>Guidelines</h4>{% endif %}
	{% assign filterGuidelines = site.data.wai-evaluation-tools-list.filters | find: "id", "guideline" %}
	{% for guideline in tool.guideline %}
	  {% for option in filterGuidelines.options %}
	  	{% if guideline contains option.filtername %}
	  		<div class="tag">{{ option.short }}</div>
	  	{% endif %}
	  {% endfor %}
	{% endfor %}
</div>

<div class="rightCol">
	<h4>Features</h4>
	{% if tool.product | size > 0 %}
	  <div class="colRow">
			<img src="/content-images/wai-evaluation-tools-list/product.png" alt="Product to evaluate" />
			<p>{% for prod in tool.product %}
			  {{ prod }}{% if forloop.last %}{% else %}, {% endif %}
			{% endfor %}</p>
	  </div>
	{% endif %}
	<div class="colRow">
		<img src="/content-images/wai-evaluation-tools-list/tooltype.png" alt="Type of tool" />
		<p>{% for type in tool.type %}
		  {% assign currentFilter = site.data.filters | find: "id", "type"  %}
		  {% assign otherNames = currentFilter.options | find_exp:"item", "item.filtername contains type"  %}
		  {% if otherNames %}
		  	{{ type }} ({{ otherNames.name }}){% if forloop.last %}{% else %}, {% endif %}
		  {% else %}
		  	{{ type }}{% if forloop.last %}{% else %}, {% endif %}
		  {% endif %}
		{% endfor %}</p>
	</div>
	<div class="colRow">
		<img src="/content-images/wai-evaluation-tools-list/paidfree.png" alt="Paid or free" />
		<p>{% for license in tool.license %}
		  {% assign currentFilter = site.data.filters | find: "id", "license"  %}
		  {% assign otherNames = currentFilter.options | find_exp:"item", "item.filtername contains license"  %}
		  {% if otherNames %}
		  	{{ license }}{% if forloop.last %}{% else %}, {% endif %}
		  {% else %}
		  	{{ license }}{% if forloop.last %}{% else %}, {% endif %}
		  {% endif %}
		{% endfor %}</p>
	</div>
	<div class="colRow">
		<img src="/content-images/wai-evaluation-tools-list/language.png" alt="Language" />
		<p>{% for language in tool.language %}
			{{ language }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
	</div>

{% include excol.html type="start" id=tool_details_id %}
Show more features
{% include excol.html type="middle"%}

{% if tool.purpose | size > 0 %}
  <div class="colRow">
		<img src="/content-images/wai-evaluation-tools-list/purpose.png" alt="Purpose" />
		<p>{% for purp in tool.purpose %}
		  {{ purp }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
  </div>
{% endif %}
{% if tool.checks | size > 0 %}
  <div class="colRow">
		<img src="/content-images/wai-evaluation-tools-list/checks.png" alt="Accessibility checks" />
		<p>{% for check in tool.checks %}
		  {{ check }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
  </div>
{% endif %}
{% if tool.operatingsystems | size > 0 %}
  <div class="colRow">
		<img src="/content-images/wai-evaluation-tools-list/os.png" alt="Operating system" />
		<p>{% for os in tool.operatingsystems %}
		  {{ os }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
  </div>
{% endif %}
{% if tool.automated | size > 0 %}
<div class="colRow">
	<img src="/content-images/wai-evaluation-tools-list/scope.png" alt="Scope" />
	<p>{% for automated in tool.automated %}
	  {% assign currentFilter = site.data.filters | find: "id", "automated"  %}
	  {% assign otherNames = currentFilter.options | find_exp:"item", "item.filtername contains automated"  %}
	  {% if otherNames %}
	  	{{ automated }} ({{ otherNames.name }}){% if forloop.last %}{% else %}, {% endif %}
	  {% else %}
	  	{{ automated }}{% if forloop.last %}{% else %}, {% endif %}
	  {% endif %}
	{% endfor %}</p>
</div>
{% endif %}
{% if tool.browsers.size != 0 %}
  <div class="colRow">
		<img src="/content-images/wai-evaluation-tools-list/browsers.png" alt="Browser" />
		<p>{% for browser in tool.browsers %}
		  {{ browser }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
	</div>
{% endif %}
<div class="colRow">
	{% if tool.assists | size > 0 %}
		<img src="/content-images/wai-evaluation-tools-list/output.png" alt="Output" />
		<p>{% for assist in tool.assists %}
		  {{ assist }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
	{% endif %}
</div>
{% if tool.a11yloc != "" %}
<div class="colRow">
	<img src="/content-images/wai-evaluation-tools-list/accessibilitystatement.png" alt="Accessibility statement" /><p><a href="{{tool.a11yloc}}" target="_blank">Accessibility statement </a>available</p>
</div>
{% endif %}
{% if tool.actrules %}
<div class="colRow">
	<img src="/content-images/wai-evaluation-tools-list/actrules.png" alt="ACT Rules" />
	<p>
		<a href="https://www.w3.org/WAI/standards-guidelines/act/implementations/{{tool.actrules}}" target="_blank">ACT Rules implemented</a>:
		<small>(<a href="https://www.w3.org/WAI/standards-guidelines/act/rules/about/">About ACT</a>)</small>
		{%- assign actImplementations = site.data.wai-evaluation-tools-list.act-implementations %}
		{%- assign actImplementation = actImplementations[tool.actrules] %}
		{%- if actImplementation %}<br>
			{{ actImplementation.approvedRules.complete }} Rules 
			<small>/ {{ actImplementation.proposedRules.complete }} Proposed Rules</small>
		{%- endif %}
	</p>
</div>
{% endif %}

{% include excol.html type="end" %}

</div>

{% include box.html type="end" %}
{% endfor %}

