{% assign toolsData = "" | split: "," %}
{% for tool in include.data %}
    {% assign toolsData = toolsData | push: tool[1] %}
{% endfor %}

{% assign toolsDataSorted = toolsData | sort: include.sort_key %}
{% for tool in toolsDataSorted %}
{% capture tool_title %}<a href="{{ tool.location }}" target="_blank">{{ tool.title }}
{% include_cached icon.html name="external-link" %}</a> 
<div class="subheader">
<p class="leftColHeader">by {{ tool.creator }}</p>
<p class="rightColHeader">Last updated: {{ tool.update | join: "" | date: "%b %Y" }}</p>
</div>
{% endcapture %}

{% capture tool_section_identifier %}aside_{{ tool.title }}{% endcapture %}
{% capture tool_details_id %}{{tool.title}}{% endcapture %}

{% include box.html type="start" title=tool_title id=tool_details_id %}
<h4>Features</h4>
<div class="leftCol">
	<ul>
	{% for assist in tool.assists %}
	  <li>{{ assist }}</li>
	{% endfor %}
	</ul> 
</div>
<div class="rightCol">
	<div class="colRow">
		{% include_cached icon.html name="default" %}<p>Evaluate:</p>
	</div>
	<div class="colRow">
		{% include_cached icon.html name="code" %}
		<p>{% for type in tool.type %}
		  {{ type }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
	</div>
	<div class="colRow">
		{% include_cached icon.html name="default" %}
		<p>{% for license in tool.license %}
		  {{ license }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
	</div>
	<div class="colRow">
		{% include_cached icon.html name="desktop" %}
		<p>{% for browser in tool.browsers %}
		  {{ browser }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
	</div>
</div>

{% include excol.html type="start" id=tool_details_id %}
#### Details
{% include excol.html type="middle"%}

<div class="leftCol">
	{% if tool.guideline | size > 0 %}<h4>Guidelines</h4>{% endif %}
	{% assign filterGuidelines = site.data.filters | find: "id", "guideline" %}
	{% for guideline in tool.guideline %}
	  {% for option in filterGuidelines.options %}
	  	{% if guideline contains option.filtername %}
	  		<div class="tag">{{ option.short }}</div>
	  	{% endif %}
	  {% endfor %}
	{% endfor %}
	<div class="subBox">
		<p>Is the information provided for this tool incorrect or outdated?</p>
		<a>Update information</a>
		<a>Report tool</a>
	</div>
</div>

<div class="rightCol">
	<div class="colRow">
	{% include_cached icon.html name="default" %}Operating Systems:
	</div>
	<div class="colRow">
		{% include_cached icon.html name="default" %}Scope:
		<p>{% for automated in tool.automated %}
		  {{ automated }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
	</div>
	<div class="colRow">
		{% include_cached icon.html name="translations" %}
		<p>{% for language in tool.language %}
		  {{ language }}{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}</p>
	</div>
	<div class="colRow">
	{% include_cached icon.html name="check-circle" %}<p>Accessible?{{ tools.accessible }}</p>
	</div>
</div>

{% include excol.html type="end" %}
{% include box.html type="end" %}
{% endfor %}

