{% assign toolsData = "" | split: "," %}
{% for tool in include.data %}
    {% assign toolsData = toolsData | push: tool[1] %}
{% endfor %}

{% assign toolsDataSorted = toolsData | sort: include.sort_key %}
{% for tool in toolsDataSorted %}
{% capture tool_title %}<a href="{{ tool.location }}" target="_blank">{{ tool.title }}{% include_cached icon.html name="external-link" %}</a> by {{ tool.creator }}{% endcapture %}
{% capture tool_section_identifier %}aside_{{ tool.title }}{% endcapture %}
{% capture tool_details_id %}{{tool.title}}{% endcapture %}

{% include box.html type="start" title=tool_title id=tool_details_id %}
{{ tool.description }}
{% include excol.html type="start" id=tool_details_id %}
#### Details
{% include excol.html type="middle"%}

This information was last updated on {{ tool.update}}.
{% include excol.html type="end" %}
{% include box.html type="end" %}
{% endfor %}

